// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-black: #000;

// grid
$grid-max-columns: 12;
$grid-width: 114rem;
$grid-gap-row: 4rem;
$grid-gap-column: 4rem;

// header
$header-height-total: 95vh;
$header-height-right: 75vh;

// font sizes
$default-font-size: 1.6rem;
